html {
	cursor: url("cursor.png"), default;
	background: red;
	font-family: sans-serif;
}

main {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: green;
	text-align: center;
	padding: 20px;
}

form {
	background: white;
	display: inline-block;
	padding: 10px;
	border: 2px solid gray;
}

label {
	padding-right: 5px;
}

#create {
	margin-right: 3px;
}

#join {
	margin-left: 3px;
}

#floaters {
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 14pt;
	text-align: left;
}

#error:not(.visible) {
	display: none;
}

#error:before {
	content: "Error: ";
	color: red;
}

table {
	border-spacing: 0;
	border: 2px solid gray;
	position: relative;
	margin: 0 auto;
	top: calc(50vh - 239px);
	background: gray;
}

/* l m a o */
table.inverted, table.inverted td {
	transform: rotate(180deg);
}

td {
	text-align: center;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	font-size: 30px;
	user-select: none;
}

table:not(.inverted) td.selected-piece {
	transform: scale(0.8);
}

table.inverted td.selected-piece {
	transform: scale(0.8) rotate(180deg);
}

td.white {
	background: white;
}

td.black {
	background: black;
}

td.white-piece {
	color: white;
}

td.black-piece {
	color: black;
}

td.white.white-piece {
	text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
}

td.black.black-piece {
	text-shadow: 1px 1px 0px white, 1px -1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
}

td.possible {
	background: #fe1 !important;
}
