html {
	cursor: url("cursor.png"), default;
	background: red;
	font-family: sans-serif;
}

main {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: green;
	text-align: center;
	width: 100%;
	height: 100%;
}

form {
	background: white;
	display: inline-block;
	padding: 10px;
	margin-top: 20px;
	border: 2px solid gray;
}

label {
	padding-right: 5px;
}

#floaters {
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 14pt;
	text-align: left;
}

#error:not(.visible) {
	display: none;
}

#error:before {
	content: "Error: ";
	color: red;
}

#table-container {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	display: inline-block;
}

#before, #after {
	height: 40px;
	padding-left: 7px;
	font: 30px monospace;
	text-align: left;
}

#before span.white, #after span.white {
	color: white;
	text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
}

#before span.black, #after span.black {
	color: black;
	text-shadow: 1px 1px 0px white, 1px -1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
}

table {
	border-spacing: 0;
	border: 2px solid gray;
	background: gray;
}

/* l m a o */
table.inverted, table.inverted td {
	transform: rotate(180deg);
}

td {
	text-align: center;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	font: 30px monospace;
	user-select: none;
}

table:not(.inverted) td.selected-piece {
	transform: scale(0.8);
}

table.inverted td.selected-piece {
	transform: scale(0.8) rotate(180deg);
}

td.white {
	background: white;
}

td.black {
	background: black;
}

td.white-piece {
	color: white;
}

td.black-piece {
	color: black;
}

td.white.white-piece {
	text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
}

td.black.black-piece {
	text-shadow: 1px 1px 0px white, 1px -1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
}

td.possible {
	background: #fe1 !important;
}

.active-column.black {
	background: #444;
}

.active-column.white {
	background: #bbb;
}

table:not(.inverted) tr:first-child td.active-column, table.inverted tr:last-child td.active-column {
	border-top: 2px solid #a0a;
}

table:not(.inverted) tr:last-child td.active-column, table.inverted tr:first-child td.active-column {
	border-bottom: 2px solid #a0a;
}

td.active-column {
	border-left: 1px solid #a0a;
	border-right: 1px solid #a0a;
}

table:not(.inverted) td.left-column, table.inverted td.right-column {
	border-right: 1px solid #a0a;
}

table:not(.inverted) td.right-column, table.inverted td.left-column {
	border-left: 1px solid #a0a;
}

td.black.last-move {
	background: #600;
}

td.white.last-move {
	background: #b00;
}
